params {
	experiment = "EF07"

	input_dir = "../selex-ngs-prep/output_EF07/fasta.prepped/"
	output_dir = "./output_EF07"
	round_order = ["R00","R02","R07","R11"]
	fasta_pattern = "*.fasta"
	trim_delimiter = "_"
	primer5 = "TAGGGAAGAGAAGGACATATGAT"
	primer3 = "TTGACTAGTACATGACCACTTGA"
	random_region = 40
	random_region_min = 37
	random_region_max = 43
}
