// nextflow.config (default fallback config file)
params {
    experiment = "SELEX"                // Experiment's name

    input_dir = "./tmp_in"          // optional
    output_dir = "./tmp_out"             // optional
    fasta_pattern = "R*"                // e.g. '*_{fwd,rev}.fastq'
    round_order = ["R01", "R02"]                 // list of selex rounds to take: ["R0", ...]

    trim_delimiter = null               // delimiter to be used to trim file names
    trim_filenames = true
} 
